* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, tahoma;
  // font-family: century-gothic;
}

body {
  color: #ddd;
  background-color: #222;
  margin: auto;
  margin-bottom: 2rem;
}

h1 {
  color: white;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;

  border-bottom: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

.navbar_links {
  list-style: none;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.navbar_links li {
  display: inline-block;
  padding: 0px 20px;
}

.link {
  text-decoration: none;
  background-color: #333;
  font-weight: bolder;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.2);
  padding: 0.7rem;
  border-radius: 4px;
}

.link:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 #222;
  background-color: #b52e31;
}

.link2 {
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.2);
  padding: 0.7rem;
  border-radius: 4px;
  border: solid;
  border-color: #333;
}

.link2:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 #222;
  background-color: #333;
}

.link3 {
  text-decoration: none;
  color: #555;
  cursor: pointer;
  font-size: inherit;
}

.link3:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.list {
  width: 90vw;
  max-width: 1170px;
  margin: 6rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  /* background-color: #111;
  padding: 5%;
  opacity: 0.8;
  border-radius: 10px;*/
}

.list {
  flex-basis: 100%;
}

.list_element {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  overflow-wrap: break-word;
}

.list_element:hover {
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.2),
    0 0 20px 0 rgba(255, 255, 255, 0.19);
  transition: 0.9s;
  transition: ease;
  color: #fff;
}

.listFirstLine {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #eee;
}

.listSmallerText {
  color: #ddd;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.center {
  display: flex;
  justify-content: center;
}

fieldset {
  display: flex;
  justify-content: center;
  border-color: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border: solid;
  border-radius: 8px;
  margin: 1rem;
}

fieldset legend {
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
  text-align: left;
  font-weight: bold;
}

.confirm_btn {
  position: relative;
  background-color: #444;
  border: none;
  color: white;
  margin-top: 1rem;
  padding: 15px 24px;
  box-shadow: -5px 5px 0 #333;
  outline: none;
}

.confirm_btn::after {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;
  border: solid 5px transparent;
  border-top: solid 5px #333;
  border-bottom-width: 0;
  right: 0px;
  bottom: -5px;
}

.confirm_btn::before {
  position: absolute;
  display: block;
  content: "";
  height: 0;
  width: 0;

  border: solid 5px transparent;
  border-right: solid 5px #333;
  border-left-width: 0;
  top: 0;
  left: -5px;
}

.confirm_btn:hover {
  background-color: #555;
}

.confirm_btn:active {
  background: #3b5999;
  top: 3px;
  left: -3px;
  box-shadow: -3px 3px 0 rgb(45, 71, 128);
  outline: white;
}

.confirm_btn:active::before {
  border: solid 3px transparent;
  border-right: solid 3px rgb(45, 71, 128);
  border-left-width: 0;
  left: -3px;
}

.confirm_btn:active::after {
  border: solid 3px transparent;
  border-top: solid 3px rgb(45, 71, 128);
  border-bottom-width: 0;
  bottom: -3px;
}

.error {
  color: red;
}
