* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif, tahoma;
  // font-family: century-gothic;
}

body {
  color:#ddd;
  background-color: #222;
  padding-top: 0.5%;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;

  border-bottom: solid;
  border-color: rgba(255, 255, 255, 0.2);
}

.navbar_links {
  list-style: none;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.navbar_links li {
  display: inline-block;
  padding: 0px 20px;
}

.link {
  text-decoration: none;
  background-color: #333;
  font-weight: bolder;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.2);
  padding: 0.7rem;
  border-radius: 4px;
}

.link:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 #222;
  background-color: #B52E31;
}

.link2 {
  text-decoration: none;
  font-weight: bolder;
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.2);
  padding: 0.7rem;
  border-radius: 4px;
  border: solid;
  border-color: #333;
}

.link2:hover {
  color: #fff;
  cursor: pointer;
  text-shadow: 0 1px 0 #222;
  background-color: #333;
}

.link3 {
  text-decoration: none;
  color: #555;
  cursor: pointer;
  font-size: inherit;
}

.link3:hover {
  text-decoration: none;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.list {
  width: 90vw;
  max-width: 1170px;
  margin: 6rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  /*background-color: #111;
  padding: 5%;
  opacity: 20px;*/
}

.list {
  flex-basis: 100%;
}

.list_element {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  width: auto;
  height: auto;
  padding: 1rem 2rem;
  overflow-wrap: break-word;
}

.list_element:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2),
    0 6px 20px 0 rgba(255, 255, 255, 0.19);
  transition: 0.9s;
  transition: ease;
  color: #fff;
}

.listFirstLine {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: #eee;
}

.listSmallerText {
  color: #ddd;
  font-weight: bold;
  font-size: 0.9rem;
  margin-top: 0.25rem;
}
