<div *ngIf="movie; else Loading">
    <div class="center">
        <fieldset>
            <legend>
                {{movie.title}}
            </legend>
                <article class="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA">
                    <h1>Lenght: {{movie.screeningTime}} minutes</h1>
                    <img style="margin-top: 2rem; width: 20rem" src="https://m.media-amazon.com/images/I/51XKWcHsqWL._AC_.jpg" />
                    <section>
                        <a [routerLink]="[ '/screenings/new' ]" [state]="{data: {film: movie}}" class='link2'>
                            Add screening <i class="fas fa-video"></i><i class="fas fa-plus smol"></i>
                        </a>
                    </section>
                    <section>
                        <a [routerLink]="[ '/movie', movie.id, 'edit' ]" [state]="{data: {movie: movie}}" class='link2'>
                            Edit <i class="fas fa-edit"></i>
                        </a>
                    </section>
                    <section class="center">
                        <button 
                                class="delete"
                                (click)="deleteMovie()">
                            Delete <i class="far fa-trash-alt"></i>
                        </button>
                    </section>
                </article>
        </fieldset>
    </div>
</div>

<ng-template #Loading>
    Loading...
</ng-template>