<div class='center'>
    <fieldset>
        <legend>Add new screening</legend>
        <form [formGroup]='formGroup' (ngSubmit)='onSubmit()'>
            <mat-form-field appearance="fill">
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill">
                <mat-label>Screening Time (in minutes)</mat-label>
                <input matInput formControlName="screeningTime" type="number" min="0">
            </mat-form-field>
            
            <!-- <span class="center">
                <input formControlName="beginsAt_time" type="text" placeholder=""/>
            </span> -->
            <br />
            <br />
            <span class="center" *ngIf="isInvalid">
                Fill the form!
            </span>
            <span class="center">
                <button type="submit" [disabled]='isInvalid' class='confirm_btn'
                        [ngClass]="{
                            'btn_locked': isInvalid,
                            'confirm_btn': !isInvalid
                        }">
                    Submit
                </button>
            </span>
        </form>
    </fieldset>
    <!-- <input type='' [form]> -->
    <!-- <<mat-select placeholder="Placeholder" [(ngModel)]="selectedValue" name="item">
        <mat-option *ngFor="let item of items" [value]="item.value">
            {{item.viewValue}}
        </mat-option>
    </mat-select> -->
</div>
