<article>
    <span class="center">
        <a [routerLink]="[ '/movies/new' ]" class='link2'>
            Add Movie <i class="fas fa-video "></i><i class="fas fa-plus smol smol"></i>
        </a>
    </span>
    <section class="center">
        <div class='list'>
            <div *ngFor="let film of films" class='list_element'>
                <!-- <a [[routerLink]="['/routePath']" routerLinkActive="router-link-active" ]> -->
                <a style="color:inherit; text-decoration: none" [routerLink]="['/movie', film.id]">
                    <p class='listFirstLine'>{{film.title}}</p>
                    <p class='listSmallerText'>Screening: {{film.screeningTime}} minutes</p>
                </a>
            </div>
        </div>
    </section>
</article>
