<article>
    <section>
        <h1>
            Pick Seat:
        </h1>
    </section>
    <section class='list'>
        <div class="internal_pain"
                *ngFor="let seat of seats"
                    [ngClass]="{
                    'bajo_jajo': !seat.free,
                    'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA': isSelected(seat.num)
                }"
                (click)=onSelectSeat(seat.num)>
            <span></span>
            <span></span>
            <span></span>
            <span
                class="noselect"
                [ngClass]="{
                    'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA2': isSelected(seat.num),
                    'bajo_jajo': !seat.free
                }">
                {{seat.num}}
            </span>
        </div>
    </section>
    <section>
        <button class="confirm_btn" mat-button
                [disabled]="!currSeat"
                [ngClass]="{
                    'btn_locked': !currSeat,
                    'confirm_btn': currSeat
                }"
                (click)="onBuyTicket()"
                >
            Buy Ticket
        </button>
    </section>
</article>

<!-- [ngStyle]={ 'background-color': seat.free ? 'inherit' : (isSelected(seat.num) ? 'green' : 'red') } !seat.free,> -->