.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.takenSeat {
  background-color: #e60023;
}
.selectedSeat {
  background-color: green;
}

.list_element {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  padding: 0;
  padding-top: 0.85rem;
}

.list {
  display: flex;
  justify-content: center;
  max-width: none;
  width: fit-content;
}

/*article {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}*/
/*button {
    display: flex;
    justify-content: center;
}*/
section {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
