<div class='center'>
    <fieldset>
        <legend>Add new screening</legend>
        <form [formGroup]='formGroup' (ngSubmit)='onSubmit()'>
            <mat-form-field appearance="fill">
                <mat-label>Film</mat-label>
                <mat-select formControlName='film'>
                    <mat-option *ngFor="let film of filmOptions" [value]="film.id">
                        {{film.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br/>
            <mat-form-field appearance="fill">
                <mat-label>Room</mat-label>
                <mat-select formControlName='room'>
                    <mat-option *ngFor="let room of roomOptions" [value]="room">
                        <pre>{{room.id}}   Capacity: {{room.capacity}}</pre>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <br />
            <span class="center">
                <input formControlName="beginsAt_date" id="date" type="date" />
            </span>
            <br />
            <span class="center">
                <input formControlName="beginsAt_time" type="time" />
            </span>
            <br />
            <!-- <mat-form-field>
            </mat-form-field> -->
            <br />
            <span class="center" *ngIf="isInvalid">
                Fill the form!
            </span>
            <span class="center">
                <button type="submit" [disabled]='isInvalid' class='confirm_btn'
                        [ngClass]="{
                            'btn_locked': isInvalid,
                            'confirm_btn': !isInvalid
                        }">
                    Submit
                </button>
            </span>
        </form>
    </fieldset>
</div>
