<header class='navbar'>
    <nav class='navbar_links'>
        <ul>
            <li>
                <a class='link' routerLink='/home' id="home">Home Page <i class="fas fa-home"></i></a>
            </li>
            <li>
                <a class='link' routerLink='/screenings'  id="screenings">Screenings <i class="fas fa-video"></i></a>
            </li>
            <li>
                <a class='link' routerLink='/movies' id="movies">Movies <i class="fas fa-film"></i></a>
            </li>
            <li>
                <a class='link' routerLink='/rooms' id="rooms">Rooms <i class="fas fa-couch"></i></a>
            </li>
        </ul>
    </nav>
</header>
