<header class='navbar'>
    <nav class='navbar_links'>
        <ul>
            <li>
                <a class='link' routerLink='/home'>Home Page</a>
            </li>
            <li>
                <a class='link' routerLink='/screenings'>Screenings</a>
            </li>
            <li>
                <a class='link' routerLink='/movies'>Movies</a>
            </li>
            <li>
                <a class='link' routerLink='/rooms'>Rooms</a>
            </li>
        </ul>
    </nav>
</header>
