.center {
  margin-top: 1.5rem;
  gap: 1rem;
}

.smol {
  font-size: 0.5rem;
  margin-left: 0.1rem;
}

hr {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  padding: 0.1rem;
}

.link {
  background-color: #444;
  color: #222;
}

.link:hover {
  color: #fff;
}
