<article>
    <section class="center">
        <span >
            <button class='link' (click)="todayScreenings()">
                Today screenings <i class="far fa-calendar-alt"></i>
            </button>
        </span>
        <span>
            <button class='link' (click)="currentScreenings()">
                Current screenings <i class="far fa-clock"></i>
            </button>
        </span>
        <span>
            <button class='link' (click)="allScreenings()">
                All screenings <i class="fas fa-video"></i>
            </button>
        </span>
        <hr/>
        <span class="link_cant_into_navbar">
            <a [routerLink]="[ '/screenings/new' ]" class='link2'>
                Add Screening <i class="fas fa-video"></i><i class="fas fa-plus smol"></i>
            </a>
        </span>
    </section>
    <section class="center">
        <div class='list'>
            <span *ngFor="let screening of screenings" class='list_element'>
                <app-screening-element [screening]=screening></app-screening-element>
            </span>
        </div>
    </section>
</article>