<div>
    <!-- <app-screening [screening]='screening'></app-screening> -->
    <a [routerLink]="['/movie', screening.film.id]" class='link3 listFirstLine'>{{screening.film.title}}</a>
    <p class='listSmallerText'>Room: {{screening.roomID}}</p>
    <p class='listSmallerText'>Date: {{screening.beginsAt | date: 'd MMMM yyyy'}}</p>
    <p class='listSmallerText'>Hour: {{screening.beginsAt | date: 'H:mm'}}</p>
    <p class='listSmallerText'>Sold tickets: {{screening.soldTickets}}</p>
    <p class='listSmallerText'>Available tickets: {{getAvailableTickets(screening)}}</p>
    
    <a *ngIf="getAvailableTickets(screening)" [routerLink]="['/buyTicket', screening.id]"
        [state]="{data: {screening: screening}}" class="link3" style="display: flex; justify-content: center;">
        <br />
        BUY TICKET <i class="fas fa-shopping-cart please_move"></i>
    </a>
    <a [routerLink]="['/screenings', screening.id, 'edit']"
        [state]="{data: {screening: screening}}" class="link3" style="display: flex; justify-content: center;">
        <br />
        Edit<i class="fas fa-edit please_move" ></i>
    </a>
</div>
